.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-ptx_ref) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  color: #fff;
  background-color: #000 !important;
  border-color: #000;
  box-shadow: none;
  font-weight: 600;
  border-radius: 30px !important;
  padding: 6px 22px;
  margin: 7px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  height: 50px;
}

button:hover {
  color: #fff;
  background-color: #FF503F !important;
  border-color: #FF503F;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}